html, body {
    padding: 0px;
    margin: 0px;
}

html {
    overflow: hidden;
}

body {
    /* Begin Parallax effect edits */
    width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	-webkit-perspective: 1px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
    /* Finish Parallax effect edits */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Begin Parallax effect classes */
.parallax {
	width: 100vw;
	height: 60vh;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
    line-height: 400px;
    text-align: center;
    font-size: 6rem;
    font-weight: lighter;
    color: white;
}

.parallax:after {
	background-image: url("../images/mountaintops.jpg");
    filter: brightness(40%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: -300px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	content: "";
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
}

.content-outer {
    position: relative;
    display: flex;
    top: 1900px;
    width: 100vw;
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
}

.content-inner {
    width: vw;
    padding: 2.5vw;
    /* margin: 0px auto; */
    display: block;
}
/* End Parallax effect classes */

/* Begin adjustable header classes */
.header {
    top: 0px;
    left: 0px;
    height: 70px;
    right: 0px;
    position: sticky;
    background-color: rgb(46, 46, 46);
    opacity: .95;
    z-index: 9999;
}

.tabintro {
    top: 70px;
    height: 200px;
    width: 100%;
    position: absolute;
    display: block;
    text-align: center;
    line-height: 170px;
    font-size: 7rem;
    font-weight: lighter;
}
/* End adjustable menu classes */

/* Begin adjustable menu IDs */
#mainMenu {
    width: 100%;
}

#menuItems {
    display: flex;
}

#menuItems a {
    text-decoration: none;
    color: white;
    padding: 15px;
    line-height: 35px;
}

#menuItems a:hover {
    font-weight: bold;
}

#mainMenu label, #menu {display: none;}
/* End adjustable menu IDs */

/* Screen size is smaller */
@media screen and (max-width: 768px){
    #menuItems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
      background-color: #1a1a1a;
    }

    #mainMenu label { 
    display: inline-block; 
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    color: white;
    background: #1a1a1a;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    }

    #menuItems a:hover {
        /* color: antiquewhite; */
        font-weight: bold;
        background-color: rgb(22, 22, 22);
    }

    #menuItems { display: none; }
    #mainMenu input:checked ~ #menuItems { display: block; }

    .parallax {
        font-size: 2rem;
        height: 30vh;
        line-height: 300px;
    }

    .parallax:after {
        top: -300px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .content-outer {
        top: 1650px;
        
    }
}